<%= form_for(@private_memory) do |f| %>
  <% if @private_memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@private_memory.errors.count, "error") %> prohibited this private_memory from being saved:</h2>

      <ul>
      <% @private_memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
