<section class="private-memories">
  <div class="row">
    <div class="small-12 columns text-center big-spacer-top">
      <h1>Private Memories of Brig</h1>
    </div>
  </div>

  <!-- List all memories -->
  <% @private_memories.each do |memory| %>

    <!-- Image -->
    <% if memory.image? %>
      <div class="row">
        <div class="small-12 small-centered columns">
          <%= image_tag(memory.image) %>
        </div>
      </div>
    <% end %>

    <!-- Private Memory -->
    <div class="row">
      <div class="small-11 medium-10 small-centered columns medium-spacer-top">

        <!-- Memory -->
        <p><%= simple_format(memory.body) %></p>

        <!-- Who Shared This Memory -->
        <p class="created-by">
          submitted <%= time_ago_in_words(memory.created_at) %> ago by <%= memory.name %>
          <% if memory.relationship.present? %>
            <span class="right">Brig's <%= memory.relationship %></span>
          <% end %>
        </p>
      </div>
    </div>

    <!-- Edit This Memory if you have authorization -->
    <div class="row">
      <div class="small-11 medium-4 small-centered columns small-spacer-top">
        <% if policy(memory).edit? %>
          <p><%= link_to "Edit", edit_private_memory_path(memory), class: "button expand" %></p>
        <% end %>
      </div>
    </div>

    <!-- Delete this memory if you have authorization -->
    <div class="row">
      <div class="small-11 medium-5 small-centered columns text-center">
        <% if policy(memory).destroy? %>
          <p><%= link_to "Delete", private_memory_path(memory), method: :delete, class: "link-center-out", data: { confirm: "Are you sure? If you delete this memory it cannot be recovered." } %></p>
        <% end %>
      </div>
    </div>

    <div class="row">
      <hr>
    </div>

  <% end %>
</section>