<div class="show-private-memory">
	<div class="row">
		<div class="small-12 small-8 small-centered columns big-spacer-top small-spacer-bottom text-center">
			<h1>Your Private Memory</h1>
			<p></p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 small-8 small-centered columns">
			<p><%= @private_memory.body %></p>
			<p><%= @private_memory.name %></p>
		</div>
	</div>
</div>

<%= params %>

<%= link_to 'Edit', edit_private_memory_path(@private_memory) %> |
<%= link_to 'Back', private_memories_path %>
