<div id="form">
  <%= form_for(@memory) do |f| %>
    <!-- Error Message -->
    <div class="row">
      <div class="small-12 columns">
        <% if @memory.errors.any? %>
          <div id="error_explanation">
            <p class="error"><%= pluralize(@memory.errors.count, "error") %> prohibited this memory from being saved:</p>
            <ul>
              <% @memory.errors.full_messages.each do |msg| %>
                <li><p><%= msg %></p></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Memory Text Area -->
    <div class="row">
      <div class="small-12 medium-centered columns">
        <%= f.text_area :post, placeholder: "Share your memory..." %>
      </div>
    </div>

    <!-- Who Shared This Memory? -->
    <div class="row">
      <div class="small-12 medium-centered columns">
        <%= f.text_field :name, placeholder: "Your Name" %>
      </div>
    </div>

    <!-- Create this Memory -->
    <div class="row">
      <div class="small-12 medium-7 medium-centered columns">
        <%= f.submit "Share Your Memory", class: "button expand" %>
      </div>
    </div>

  <% end %>
</div>