<div id="form">
  <%= form_for(@memory) do |f| %>
    <!-- Error Message -->
    <div class="row">
      <div class="small-11 small-centered columns">
        <% if @memory.errors.any? %>
          <div id="error_explanation">
            <p class="error"><%= pluralize(@memory.errors.count, "error") %> prohibited this memory from being saved:</p>
            <ul>
              <% @memory.errors.full_messages.each do |msg| %>
                <li><p><%= msg %></p></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Memory Text Area -->
    <div class="row">
      <div class="small-11 small-centered columns">
        <%= f.text_area :post, placeholder: "Share your memory..." %>
      </div>
    </div>

    <!-- Add An Image -->
    <div class="row">
      <div class="small-11 small-centered columns">
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
    </div>

    <!-- Who Shared This Memory? -->
    <div class="row">
      <div class="small-11 small-centered columns">
        <%= f.text_field :name, placeholder: "Your Name" %>
      </div>
    </div>

    <!-- What is their relationship to Brig? -->
    <div class="row">
      <div class="small-11 small-centered columns">
        <%= f.text_field :relationship, placeholder: "Your relationship to Brig. You are his ... (friend from high school, uncle, sister, etc.)" %>
        <%= recaptcha_tags %>
      </div>
    </div>

    <!-- Create this Memory -->
    <div class="row">
      <div class="small-11 medium-7 small-centered columns small-spacer-top">
        <%= f.submit "Share My Memory", class: "button expand" %>
      </div>
    </div>

    <!-- Cancel -->
    <div class="row">
      <div class="small-12 small-centered columns text-center">
        <p><%= link_to "Cancel", memories_path, class: "link-center-out" %></p>
      </div>
    </div>

  <% end %>
</div>