<section class="home-header">
  <div class="row">
    <div class="small-12 columns medium-spacer">
      <h1>Brigham Forbush</h1>
      <h2>September 12, 1979 - January 28, 2015</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="scroller">
        <div><%= image_tag("fam-header.jpg") %></div>
        <div><%= image_tag("brig-jenna-girls.jpg") %></div>
        <div><%= image_tag("brig.jpg") %></div>
        <div><%= image_tag("brig-jenna.jpg") %></div>
        <div><%= image_tag("brig-jordyn.jpg") %></div>
        <div><%= image_tag("brig-rachel.jpg") %></div>
        <div><%= image_tag("brig-beth.jpg") %></div>
      </div>
    </div>
  </div>
</section>

<section class="intro-brig">
  <div class="row">
    <div class="small-12 small-centered medium-10 columns medium-spacer">
      <p>Anyone who knew Brig knew he loved life and didn’t slow down, ever. He was incredible and so special. His girls are only seven, three, and 10 months old. And the way they will know their magnificent father and all of the lives that he touched is through you - and your experiences with Brig. </p>
      <p>We need your stories, everything you remember about this amazing man. So that his girls, and all of us, can remember him and through you, know him .</p>
    </div>
  </div>
</section>

<h1>Listing memories</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memories.each do |memory| %>
      <tr>
        <td><%= memory.post %></td>
        <td><%= memory.name %></td>
        <td><%= link_to 'Show', memory %></td>
        <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
        <td><%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memory', new_memory_path %>
