<section class="home-header">
  <div class="row">
    <div class="small-12 columns medium-spacer">
      <h1>Brigham Forbush</h1>
      <h2>September 12, 1979 - January 28, 2015</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="scroller">
        <div><%= image_tag("brig.jpg") %></div>
        <div><%= image_tag("brig-jenna-girls.jpg") %></div>
        <div><%= image_tag("fam-header.jpg") %></div>
        <div><%= image_tag("brig-jenna.jpg") %></div>
        <div><%= image_tag("brig-jordyn.jpg") %></div>
        <div><%= image_tag("brig-rachel.jpg") %></div>
        <div><%= image_tag("brig-beth.jpg") %></div>
      </div>
    </div>
  </div>
</section>

<section class="intro-brig">
  <div class="row">
    <div class="small-11 small-centered medium-10 columns medium-spacer">
      <p>Anyone who knew Brig knew he loved life and didn’t slow down, ever. He was incredible and so special. His girls are only seven, three, and 10 months old. And the way they will know their magnificent father and all of the lives that he touched is through you. </p>

      <p>We need your stories and experiences with Brig, everything you remember about this amazing man. So that his girls, and all of us, can remember and know him through you.</p>
    </div>
  </div>
</section>

<section class="share-my-memories">
  <div class="row">
    <div class="small-11 small-centered medium-10 columns medium-spacer">
      <%= render 'form'  %>
      <p class="link"><%= link_to "Have a private memory?", new_private_memory_path %></p>
    </div>
  </div>
</section>

<section class="all-memories big-spacer-bottom">
  <% @memories.each do |memory| %>
  <!-- Memory -->
  <div class="row">
    <div class="small-11 medium-10 small-centered columns medium-spacer-top">
      <p><%= simple_format(memory.post) %></p>
      <p class="created-by">
        submittted <%= time_ago_in_words(memory.created_at) %> ago by <%= memory.name %> 
        <% if memory.relationship.present? %>
          <span class="right">Brig's <%= memory.relationship %></span>
        <% end %>
      </p>
    </div>
  </div>

  <!-- Who Shared this Memory? -->
  <div class="row">
    <div class="small-11 medium-10 small-centered columns small-spacer-top">
      <p><%# link_to "edit", edit_memory_path(memory) %></p>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <% end %>
</section>
