<div class="show-memory">
	<div class="row">
		<div class="small-11 small-11 small-centered columns big-spacer-top small-spacer-bottom text-center">
			<h1>Your Memory</h1>
		</div>
	</div>

	<% if @memory.image? %>
		<div class="row">
			<div class="small-12 small-centered columns">
				<%= image_tag(@memory.image) %>
			</div>
		</div>
	<% end %>
	
	<div class="row">
		<div class="small-11 medium-10 small-centered columns">
			<p><%= @memory.post %></p>
			<p class="created-by">submitted <%= time_ago_in_words(@memory.created_at) %> ago by <%= @memory.name %></p>
		</div>

		<% if policy(@memory).edit? %>
			<div class="small-11 medium-8 small-centered columns small-spacer-top">
				<%= link_to 'Edit', edit_memory_path(@memory), class: "button expand" %>
			</div>
		<% end %>

		<% if policy(@memory).destroy? %>
			<div class="small-12 small-centered columns text-center">
				<p><%= link_to "Delete", memory_path(@memory), method: :delete, class: "link-center-out", data: { confirm: "Are you sure? If you delete this memory it cannot be recovered." } %></p>
			</div>
		<% end %>
	</div>

</div>