<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @memory.post %>
</p>

<p>
  <strong>Name:</strong>
  <%= @memory.name %>
</p>

<%= link_to 'Edit', edit_memory_path(@memory) %> |
<%= link_to 'Back', memories_path %>
